@import './vars.scss';

:global(body) {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    background-color: $color-1;
    color: white;
    // background-image: url('bg.svg');
    // background-size: cover;
}