$primary-purple: #6c5ce7;
$secondary-purple: rgb(20, 5, 35);
$tertiary-purple: rgb(140, 78, 255);
$light-purple: rgb(109, 33, 201);

$color-1: rgb(10, 5, 35);
$color-2: rgb(22, 14, 65);
$height: 100px;